<link rel="stylesheet" href="/static/pmonitor/css/my_monitor.css">
<link rel="stylesheet" href="/static/pmonitor/css/pagination.css">
<script type="text/javascript" src="/static/pmonitor/js/my_monitor.js?v=20170706111444"></script>

<div class="myMonitor">
    <div class="monitorList">
        <img src="/static/pmonitor/images/monitor_list.png" alt="" style="margin: -4px 5px 0 1.5%;">我的监测列表
        <a href="javascript:" onclick="addNewTask()">继续添加</a>
##        <a href="/monitor/addmonitor">继续添加</a>
    </div>
    <div class="monitorContent">

    </div>

</div>